body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f0f0f0;
}

.login-container {
    background-color: #fff;
    padding: 50px; /* Increase padding for more space */
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 400px; /* Set a fixed width for the container */
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
    margin-bottom: 15px;
}

.password-container {
    position: relative;
}

#togglePassword {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.eye-button i {
    align-items: center;
    font-size: 18px;
    color: #000000;
}

button[type="submit"] {
    background-color: #39e733;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.eye-button {
    position: absolute;
    top: 50%;
    right: 10px; /* Adjust positioning if needed */
    transform: translateY(-50%);
    background-color: transparent;
    border: none;
    cursor: pointer;
    /* Add these styles: */
    padding: 5px; /* Add some padding for better visibility */
    z-index: 1; /* Set a higher z-index to ensure it overlaps the password input */
}
